<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" verbose="1" name="Suite" parallel="tests" configfailurepolicy="continue">

<listeners>
        <listener class-name="Hooks.TestNGExecutionListener"></listener>
    </listeners>
  <test thread-count="1" name="Test1" parallel="tests" preserve-order="true">
    <classes>
      <class name="runner.Runner"/>
    
    </classes>
  </test> 
  
  <test thread-count="1" name="Test2" parallel="tests" preserve-order="true">
    <classes>
      <class name="runner.Runner2"/>
    
    </classes>
  </test> 
  <!-- Test -->
</suite> <!-- Suite -->
