<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="regression" verbose="5" parallel="tests">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Demo4.abc"/>
    </classes>
  </test>
  <test thread-count="5" name="Test1">
    <classes>
      <class name="Demo4.abc"/>
    </classes>
  </test>
   <!-- Test -->
</suite> <!-- Suite -->
